:root {
    --cardColorWhite: #f7f7f7;
    --cardColorBlack: #000000;
    --FontColorGray: #868e96;

}

.projects {
    margin: 120px 0;
}

.projects .title-section {
    margin: 50px 0;
    text-transform: uppercase;
}

.cards-project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px 2%;

    margin-bottom: 80px;

}

.card {
    border-radius: 15px;
    background-color: var(--cardColorWhite);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 15px 15px 0 0;

}

.description {
    margin: 20px;
}

.description .title {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.description .sub-title {
    font-size: 15px;
    line-height: 1.5;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.live-preview,
.github {
    display: flex;

}

.live-preview img,
.github img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.live-preview div,
.github div {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    margin-right: 10px;

}


.button-project {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-project div {

    text-transform: uppercase;
    padding: 15px 25px;
    width: auto;
    background-color: var(--mainColor);
    color: var(--FontColorWhite);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
}





.sec-title {
    font-size: 20px;
    margin: 30px 0;
}

.phone,
.location {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
}

.phone img,
.location img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-media {
    margin: 30px 0;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.form div {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.form>div {
    margin-bottom: 20px;
}

label {
    font-size: 15px;
    padding: 10px 0;
}

input {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #eeeeee;
}


textarea {
    height: 150px;
    border: none;
    border-radius: 8px;
    background-color: #eeeeee;


}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cardColorBlack);
    color: var(--cardColorWhite);
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
    width: 120px;
    height: 45px;
    font-size: 16px;

}

.container-dec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-dec>div {
    margin-right: 50px;
}

footer {
    margin-top: 80px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 40px;
}

.foot img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.foot div {
    font-size: 20px;
}

@media (max-width: 767px) {
    .margin-btn {
        width: 50px;
        height: 50px;
    }

    .button-project div {
        font-size: 13px;
    }

    label {
        font-size: 15px;
        padding: 10px 0;
    }

    input {
        height: 40px;
        width: 100%;
        font-size: 14px;
    }


    textarea {
        height: 80px;


    }

    .social-media img {
        width: 35px;
        height: 35px;
        margin-right: 8px;
    }

    .button input {
        border-radius: 10px;
        padding: 12px;
        margin-top: 20px;
        width: 120px;
        height: 45px;
        font-size: 16px;

    }

    .container-dec {
        display: block;
    }

    .foot img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .foot div {
        font-size: 16px;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    .button-project div {
        font-size: 15px;
    }
}


/* ----------page project---------- */
.projects .title-section {
    text-align: center;
    margin: 50px 0;
}

/* ----------page Education---------- */

section {
    margin: 150px 0;
}

section .title {
    font-size: 2.5vw;
    ;
    margin-bottom: 30px;
}

.sub-title {
    font-size: 1.5vw;
    margin-bottom: 15px;

}

.sub-title-gray {
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
    color: #818181;
    margin-bottom: 10px;

}

.training {
    margin-top: 80px;
}

.hr {
    border: 0.5px solid #eeeeee;
    margin-bottom: 30px;
}

@media (max-width: 767px) {

    section .title {
        font-size: 25px;
        ;
    }

    .sub-title {
        font-size: 18px;

    }

    .sub-title-gray {
        font-size: 15px;


    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section .title {
        font-size: 30px;
        ;
    }

    .sub-title {
        font-size: 22px;

    }

    .sub-title-gray {
        font-size: 20px;


    }
}

@media (min-width: 992px) {
    section .title {
        font-size: 32px;
        ;
    }

    .sub-title {
        font-size: 24px;

    }

    .sub-title-gray {
        font-size: 22px;


    }

}